body{
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
}

.title{
  h1{
    text-align: center;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.5rem;
  }
}

.clock-container{

  .countdown-legend{
    text-align: center;
    font-weight: bold;
    color: $grayish-blue;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
  }
}
